body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
header{
  z-index: 1;
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 70px;
}
.main-logo{
  height: 30px;
  float: left;
  padding-right: 10px;
}
.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}
.content{
  margin-top: 6%;
}
.content_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: none;
}
.content_btn:hover{
  background: #ffffff;
  text-decoration: none;

}
